.wrapper{
	width: 100%;	
	background-color: skyblue;
	padding:38px 0px;
}

.carromBoard{
	width: 600px;
	height: 600px;
	background-color: gray;
	background-image: url("../images/carromBoard.jpg"); 
	position: relative;
	margin: 0px auto;
}

.gotti{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #210fd1;
	position: absolute;
	top: 0px;
	left: 0px;	
}

.striker{
	background-color: green;
	width: 30px;
	height: 30px;
	border-radius: 30px;
}

.hole{
	background-color: black;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.arrow{
	background-color: red;
	width: 275px;
	height: 2px;
	top: 0px;
	left: 0px;
	-webkit-transform:rotate(0deg);
	transform-origin: 0px 0px;	
	position: absolute;
	z-index: 5;
}